:root {
    /*Primary Colours*/
    --color-violet: hsl(257, 40%, 49%);
    --soft-magenta: hsl(300, 69%, 71%);
    /*Heading Font*/
    --heading-fnt: "Poppins", sans-serif;
    /*Body Font*/
    --body-fnt: "Open Sans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*************
     Index
1.) Challenge provided Code 
2.) Flex and Positioning
3.) Desktop sizing     
**************/


/*************
1.) Challenge provided Code 
**************/

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


/*************
2.) Flex and Positioning
**************/

body {
    display: flex;
    flex-direction: column;
    background-color: var(--color-violet);
    background-image: url(./images/bg-mobile.svg);
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    align-items: center;
}

main {
    max-width: 80%;
}

h1 {
    font-family: var(--heading-fnt);
    margin-bottom: 1rem;
}

p {
    font-family: var(--body-fnt);
    margin-bottom: 2rem;
}

button {
    font-family: var(--body-fnt);
    color: var(--color-violet);
    margin-bottom: 2rem;
    background-color: white;
    width: 10rem;
    padding: 0.3rem;
    border-style: none;
    border-radius: 1rem;
}

button:hover {
    background-color: var(--soft-magenta);
    color: white;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background: white;
    color: black;
    padding-top: 0.5rem;
}

footer p {
    margin-bottom: 0.5rem;
}

.mockup {
    max-width: 100%;
    margin-bottom: 3rem;
}

.logo {
    max-width: 40%;
    float: left;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.logos1,
.logos2,
.logos3 {
    width: 1.8rem;
    border: solid 1px white;
    border-radius: 100%;
    margin: 0.2rem;
    padding: 5px;
}

.logos1:hover {
    background-color: var(--soft-magenta);
}

.logos2:hover {
    background-color: var(--soft-magenta);
}

.logos3:hover {
    background-color: var(--soft-magenta);
}

.media {
    margin-bottom: 3rem;
}


/*************
3.) Desktop sizing     
**************/

@media screen and (min-width: 1024px) {
    body {
        background-image: url(./images/bg-desktop.svg);
    }
    main {
        max-width: 90%;
        display: flex;
        flex-wrap: wrap;
        font-size: larger;
    }
    .col-1 {
        width: 50%;
        display: inline;
        padding: 1rem;
    }
    .col-2 {
        text-align: left;
        width: 50%;
        margin-top: 15%;
        padding: 1rem;
    }
    .media {
        display: block;
        width: 100%;
        margin-left: 85%;
    }
    .logo {
        display: block;
    }
    button {
        padding: 0.8rem;
        width: 10rem;
        border-radius: 2rem;
    }
}